@model _3312Final.Models.Airplane

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pilot ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pilot)
        </dd>
        <dt>
            Altitude
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt>
        <dt>
            Flap Setting (Takeoff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlapSetting)
        </dd>
        <dt>
            Flap Setting (Land)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlapSettingLand)
        </dd>
        <dt>
            Outside Air Temp (Celcius)        
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutsideAirTemp)
        </dd>
        <dt>
            Runway Direction (in degrees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunwayDirection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Snow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Snow)
        </dd>
        <dt>
            Trip Distance
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            Wind Direction
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WindDirection)
        </dd>
        <dt>
            Wind Speed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>
    </dl>
</div>
<div>
    <dl>
        Please make sure that you have entered the details correctly before submitting!
    </dl>
</div>
<div>
    <a asp-action="Card" asp-route-id="@Model.ID" class="btn btn-primary">View Results</a>
</div>
<p></p>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
